<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/static/admin/dashboard.css" />
  </head>
  <body>
    <nav class="navbar">
      <ul class="nav-links">
        <li><a href="#dashboard">Dashboard</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#users">Users</a></li>
        <li><a href="#products">Products</a></li>
        <li><a href="#orders">Orders</a></li>
        <li><a href="#settings">Settings</a></li>
      </ul>
    </nav>

    <div class="grid-container">
      <div class="main-gauges">
        <div class="gauge-container">
          <div id="cpuGauge" class="gauge"></div>
          <div id="cpuUsage" class="gauge-label">CPU Usage</div>
        </div>
        <div class="gauge-container">
          <div id="memoryGauge" class="gauge"></div>
          <div id="memoryUsageBytes" class="gauge-label">Memory Usage MB</div>
        </div>
      </div>
      <div class="temp-gauges">
        <div class="gauge-container">
          <div id="cpuTempGauge" class="gauge"></div>
          <div id="cpuTemp" class="gauge-label">CPU Temp</div>
        </div>
        <div class="gauge-container">
          <div id="ramTempGauge" class="gauge"></div>
          <div id="ramTemp" class="gauge-label">RAM Temp</div>
        </div>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.4/raphael-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/justgage/1.2.9/justgage.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/admin/refresh_data.js"></script>
    <script src="/static/admin/dashboard.js"></script>
  </body>
</html>
