<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/static/admin_dashboard.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.3.0/raphael.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/toorshia/justgage@1.2.9/justgage.js"></script>
    <script src="/static/dashboard_refresh.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/eve/0.5.4/eve.min.js"></script> // Add this line
</head>
<body>
    <div id="dashboard">
        <div id="cpu-usage" class="gauge"></div>
        <div id="cpu-temp" class="gauge"></div>
        <canvas id="ram-usage" class="bar"></canvas>
        <div id="ram-temp" class="gauge"></div>
    </div>
    <script src="/static/dashboard_refresh.js"></script>
</body>
</html>