<link rel="stylesheet" href="{{ url_for('static', filename='banner.css') }}">
<style>
    .page-body{
        position: absolute;
        width: 100%;
        height: 5000px;
        top: 100px;
        right: 0;
        left: 0;
        bottom: 0;
        border: none;
        background-color: lightsteelblue;
    }
    .rounded-top-banner {
        position: absolute;
        margin-top: 20px;
        height: 50px;
        width: 90%;
        border-radius: 25px;
        left: 5%;
        background-color: lightslategray;
        color: white;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    }
    .centered-text {
        text-align: center;
        font-weight: bold;
        font-size: 30px;
        padding-top: 10px;
    }
</style>

<body style="font-family: Arial, Helvetica, sans-serif;">
    <div class="page-body">
        <div class="rounded-top-banner"><div class="centered-text">Welcome to a better version of the IHK Trainex Website!</div></div>
    </div>
    <iframe title="banner" id="banner" class="banner-frame" src="{{ url_for('main.banner') }}"></iframe>
</body>

<script>
    window.onmessage = function(e){
        if(e.data == 'id'){
            let banner = document.getElementById("banner").contentWindow.postMessage("aktuelles", "*");
        }   
    }
</script>