<style>
    @import "banner.css";
    .page-body{
        position: absolute;
        width: 100%;
        height: 5000px;
        top: 100px;
        right: 0;
        left: 0;
        bottom: 0;
        border: none;
        background-color: red;
    }
</style>

<body style="font-family: Arial, Helvetica, sans-serif;">
    <div class="page-body">
        Something current
    </div>
    <iframe title="banner" id="banner" class="banner-frame" src="banner.html"></iframe>
</body>

<script>
    window.onmessage = function(e){
        if(e.data == 'id'){
            let banner = document.getElementById("banner").contentWindow.postMessage("aktuelles", "*");
        }   
    }
</script>