<link rel="stylesheet" href="{{ url_for('static', filename='banner.css') }}">
<style>
    .page-body{
        position: absolute;
        width: 100%;
        height: 5000px;
        top: 100px;
        right: 0;
        left: 0;
        bottom: 0;
        border: none;
        background-color: green;
    }
</style>

<div class="banner">
    <a target="_parent" href="{{ url_for('main.ihk') }}"><img src="{{ url_for('static', filename='logo2.jpg') }}" title="IHK Logo" class="ihk-button"></a>
    <div class="banner-navigator">
        <button id="aktuelles-btn" class="navigation-button-base" onclick="window.top.location.href='{{ url_for('main.aktuelles') }}'">Aktuelles</button>
        <button id="privates-btn" class="navigation-button-base" onclick="window.top.location.href='{{ url_for('main.privates') }}'">Privat</button>
        <button id="cafe-btn" class="navigation-button-base" onclick="window.top.location.href='{{ url_for('main.cafe') }}'">Café</button>
        <button id="learning-btn" class="navigation-button-base" onclick="window.top.location.href='{{ url_for('main.learning') }}'">Lernen</button>
    </div>
    <button id="settings-btn" class="settings-button-base" onclick="window.top.location.href='{{ url_for('main.settings') }}'">&#9881;</button>
    <button class="logout-button" onclick="window.top.location.href='{{ url_for('auth.logout') }}'">X</button>
</div>

<script>
    window.onmessage = function(e){
        switch(e.data){
            case 'aktuelles':
                document.getElementById("aktuelles-btn").className = "navigation-button-selected";
                break;
            case 'privates':
                document.getElementById("privates-btn").className = "navigation-button-selected";
                break;
            case 'cafe':
                document.getElementById("cafe-btn").className = "navigation-button-selected";
                break;
            case 'learning':
                document.getElementById("learning-btn").className = "navigation-button-selected";
                break;
            case 'settings':
                document.getElementById("settings-btn").className = "settings-button-selected";
                break;
        }
    }

    window.top.postMessage("id", "*");
</script>