<link rel="stylesheet" href="{{ url_for('static', filename='banner.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='body.css') }}">
<style>
    .page-body{
        position: absolute;
        width: 100%;
        height: 5000px;
        top: 100px;
        right: 0;
        left: 0;
        bottom: 0;
        border: none;
        background-color: transparent;
    }
</style>

<body">
    <script>
        window.top.location.href="/aktuelles";
    </script>
    <iframe title="banner" id="banner" class="banner-frame" src="{{ url_for('main.banner') }}"></iframe>
</body>

<script>
    window.onmessage = function(e){
        if(e.data == 'id'){
            let banner = document.getElementById("banner").contentWindow.postMessage("index", "*");
        }   
    }
</script>