<style>
    .navigation-button-base{
        background-color:transparent;
        color: white;
        border:none;
        position:absolute;
        font-size: 30px;
        font-weight: bold; 
        height: 100%;
        width: 25%;
        border-radius: 25px;
    }

    .navigation-button-base:hover{
        background-color:rgb(125, 190, 215);
    }

    .navigation-button-base:active{
        background-color:rgb(70, 170, 215);
    }

    .navigation-button-selected{
        background-color:rgb(95, 180, 215);
        color: white;
        border:none;
        position:absolute;
        font-size: 30px;
        font-weight: bold; 
        height: 100%;
        width: 25%;
        border-radius: 25px;
    }

    .navigation-button-selected:hover{
        background-color:rgb(125, 190, 215);
    }

    .navigation-button-selected:active{
        background-color:rgb(70, 170, 215);
    }

    .logout-button{
        background-color: lightblue;
        color: white;
        border: none;
        position:absolute;
        right: 25px;
        width:50px;
        height:50px;
        border-radius: 25px;
        top: 25px;
        font-size:30px;
        font-weight: bold;
    }

    .logout-button:hover{
        background-color:rgb(125, 191, 213);
    }

    .logout-button:active{
        background-color:rgb(68, 176, 212);
    }

    .settings-button-base{
        background-color: lightblue;
        color: white;
        border: none;
        position:absolute;
        right: 100px;
        width:50px;
        height:50px;
        border-radius: 25px;
        top: 25px;
        font-size:30px;
        font-weight: bold;
        align-content: center;
    }

    .settings-button-base:hover{
        background-color:rgb(125, 191, 213);
    }

    .settings-button-base:active{
        background-color:rgb(68, 176, 212);
    }

    .settings-button-selected{
        background-color: rgb(95, 180, 215);
        color: white;
        border: none;
        position:absolute;
        right: 100px;
        width:50px;
        height:50px;
        border-radius: 25px;
        top: 25px;
        font-size:30px;
        font-weight: bold;
        align-content: center;
    }

    .settings-button-selected:hover{
        background-color:rgb(125, 191, 213);
    }

    .settings-button-selected:active{
        background-color:rgb(68, 176, 212);
    }

    .message{
        background-color: rgb(181, 181, 181);   
        border-radius: 25px;
        margin-top: 5px;
        width:100%;
        height: 200px;
        left: 2.5%;
    }

    .message-header{
        position: absolute;
        color: white;
        top: 0px;
        left: 0px;
        background-color: rgb(62, 62, 62);
        border-top-right-radius: 25px;
        border-top-left-radius: 25px;
        height: 25px;
        width: 95%;
        left: 2.5%;
    }
    
    .ihk-button{
        background-color: lightblue;
        color: white;
        font-size: 30px;
        font-weight: bold;
        border:none;
        position: absolute;
        left: 25px;
        height: 75px;
        width: 75px;
        border-radius: 25px;
        top: 12.5px;
        text-align: center;
    }

    .ihk-button:hover{
        background-color: rgb(125, 191, 213);
    }

    .ihk-button:active{
        background-color: rgb(68, 176, 212);
    }

    .banner{
        background-color: rgb(53, 143, 176);
        position: absolute;
        width: 100%;
        height: 100px;
        left: 0;
        top: 0;
    }

    .banner-navigator{
        background-color: lightblue;
        position: absolute;
        width: 800px;
        left: 50%;
        margin-left: -400px;
        height: 50px;
        border-radius: 25px;
        top: 50%;
        margin-top: -25px;
    }

    .page-body{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 100px;
        right: 0;
        left: 0;
        bottom: 0;
        border: none;
    }
</style>

<body style="font-family: Arial, Helvetica, sans-serif;">
    <div class="banner">
        <button class="ihk-button" onclick="">
            IHK
        </button>
        <div class="banner-navigator">
            <button id="aktuelles-btn" class="navigation-button-selected" style="left: 0;" onclick="switchContent('aktuelles')" autofocus>
                Aktuelles
            </button>
            <button id="privates-btn"  class="navigation-button-base" style="left: 25%;" onclick="switchContent('privates')">
                Privat
            </button>
            <button id="cafe-btn"  class="navigation-button-base" style="left: 50%;" onclick="switchContent('cafe')">
                Café
            </button>
            <button id="learning-btn"  class="navigation-button-base" style="left: 75%;" onclick="switchContent('learning')">
                Lernen
            </button>
        </div>
        <button id="settings-btn" class="settings-button-base" onclick="switchContent('settings')">
            <span>&#9881;</span>
        </button>
        <button class="logout-button">
            X
        </button>
    </div>
    <iframe id="page-body" class="page-body" src="aktuelles.html"></iframe>
</body>

<script src="index.js"></script>